* {
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, h1 {
    margin: 0;
    padding: 0;
    color: #fff;
    overflow: hidden;
    font-family: 'Ubuntu Mono', Arial, sans-serif;
    font-weight: 300;
    font-size: 1em;
    color: #26282A;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 2.94529em;
}

h3 {
  font-size: 2.25em;
}

h4 {
  font-size: 1.82029em;
}

h5 {
  font-size: 1.39058em;
}

h6 {
  font-size: 1.125em;
}

h1 {
  font-weight: normal;
  font-weight: 300;
  color: white;
  text-shadow: 0 1px 1px #000;
}
@media screen and (max-width: 767px) {
  h1 {
    font-size: 2.94529em;
    margin: 15px 0;
  }
}

a {
  color: #98d9fe;
  text-decoration: none;
  -webkit-transition: color 0.15s ease;
  -moz-transition: color 0.15s ease;
  -o-transition: color 0.15s ease;
  transition: color 0.15s ease;
  text-shadow: none;
}
a:hover {
  color: #65c6fe;
}

p {
  font-size: 1.39058em;
  color: white;
  text-shadow: 0 1px 1px #555;
}

pre {
  font-family: Monaco, Courier, monospace;
  background-color: #F8F8F8;
  border: 1px solid #CCC;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px;
  margin: 15px 0;
  font-size: 12px;
}

img.keep-original {
  max-width: 100% !important;
  height: auto;
}

.loading-container {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 10;
}

.pulse {
  border: 3px solid #999;
  height: 30px;
  width: 30px;
  position: absolute;
  left: -15px;
  top: -15px;
  -webkit-animation: pulsate 1s ease-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}

@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(0.1, 0.1);
    opacity: 0.0;
  }

  50% {
    opacity: 1.0;
  }

  100% {
    -webkit-transform: scale(1.2, 1.2);
    opacity: 0.0;
  }
}

body {
  font-size: 16px;
}
@media screen and (max-width: 767px) {
  body {
    font-size: 13px;
  }
}

#connect {
  z-index: 10;
  position: fixed;
  width: 100%;
  list-style: none;
  margin: 0;
  margin-left: 90px;
  padding: 20px;
}
#connect li {
  float: left;
  margin-right: 20px;
  color: white;
}
#connect li span {
  display: block;
  font-size: 15px;
  text-shadow: 0 1px 1px #000;
}
#connect li .version:before {
  content: "v";
}
@media screen and (max-width: 767px) {
  #connect {
    margin-left: 0;
  }
}

.button {
  font-weight: bold;
  padding: 8px 12px 5px;
  text-align: center;
  display: block;
  text-decoration: none;
  background: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: background 0.15s ease;
  -moz-transition: background 0.15s ease;
  -o-transition: background 0.15s ease;
  transition: background 0.15s ease;
  position: relative;
  border-bottom: 1px solid transparent;
  color: #03A0FA;
}
.button:active {
  top: 1px;
}
.button:hover {
  color: #0280c8;
  background: #f1f1f1;
  border-color: white;
}

.container {
  position: relative;
  width: 50%;
  max-width: 500px;
  left: 90px;
  top: 13%;
  padding: 10px 20px;
}
@media screen and (max-width: 767px) {
  .container {
    margin-top: 70px;
    max-width: 100%;
    width: 100%;
    position: static;
  }
}

.slides-navigation {
  top: 50%;
}
.slides-navigation a {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  display: block;
  text-decoration: none;
  border: 3px solid #fff;
  color: white;
  font-weight: bold;
  font-size: 26px;
  margin: 0 25px;
  text-shadow: 0 1px 1px #000;
  text-align: center;
  height: 40px;
  width: 40px;
  top: -40px;
  padding: 1px;
  -webkit-box-shadow: 0 1px 1px black;
  -moz-box-shadow: 0 1px 1px black;
  box-shadow: 0 1px 1px black;
  -webkit-transition: background 0.15s ease;
  -moz-transition: background 0.15s ease;
  -o-transition: background 0.15s ease;
  transition: background 0.15s ease;
}
.slides-navigation a:hover {
  background: rgba(0, 0, 0, 0.4);
}
@media screen and (max-width: 767px) {
  .slides-navigation {
    display: none;
  }
}

.slides-pagination a {
  width: 15px;
  height: 15px;
  margin: 5px 2px;
  border-color: white;
  -webkit-box-shadow: 0 1px 1px black;
  -moz-box-shadow: 0 1px 1px black;
  box-shadow: 0 1px 1px black;
}
.slides-pagination a.current {
  background: white;
}

.contrast {
  background: rgba(0, 0, 0, 0.3);
  padding: 1px 10px;
  -webkit-box-shadow: 0 0 23px 5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 23px 5px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 23px 5px rgba(0, 0, 0, 0.4);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

header {
    position: absolute;
    top: 40%;
    left: 15%;
    z-index: 99;
    color: #fff;
    background: rgba(78, 9, 9, 0.3);
    padding: 60px;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    margin: -200px 0 0 -200px;
    text-align: center;
}

header h1 {
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
    padding: 0 0 10px 0;
    font-size: 1.7em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.8);
    font-size: 35px;
}

header h1 span {
    font-weight: 300;
}

header p {
    font-family: Cambria, Georgia, serif;
    font-style: italic;
}

.navbar-nav>li>a {
    font-size: 40px;
    font-color: #263D4C; 
}