<div class="copy-right top_grid">
    {% include 'map.html' %}
    <h4>{{ land_line }}</h4>
</div>

<div class="header_img">
    <div class="wrap">
        <div class="header">
            <div class="logo">
                <a href="/"><img src="img/{{ logo }}" alt="{{ title }}"></a>
            </div>
            <div class="menu">
                <nav class="clearfix">
                    <ul class="clearfix">
                        <li><a href="/">HOME</a></li>
                        {% for section in sections %}
                        <li class="active"><a href="#{{ section }}">{{ section|upper }}</a></li>
                        {% endfor %}
                     </ul>
                     <a href="#" id="pull">Menu</a>
                </nav>
            </div>                 
            
        </div>
    </div>

    <div class="slider">
        <div class="slider-wrapper theme-default">
            <div id="slider" class="nivoSlider">
                {% for img in gallery_images %}
                <img src="{{ img.src }}" data-thumb="{{ img.src }}" alt="{{ img.title }}" />
                {% endfor %}
            </div>
        </div>
    </div>
</div>
